{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}D&iacute;a{% endblock title %} 
{% block subtitle %}D&iacute;a{% endblock subtitle %}
{% block tabletitle %}Actualizar d&iacute;a{% endblock tabletitle %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}

{% block table %}
<thead>
<tr>
    <th width="30%"></th>
    <th></th>
</tr>
</thead>
<tbody>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>D&iacute;a</b></label></td>
      <td class="" ><input type="text" name="dia" class="txt-all" placeholder="Nombre del d&iacute;a" value="{{dia}}"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" class="btn-editar"  value="Actualizar d&iacute;a" /></td>
    </tr>
  </tbody>
{% endblock table %}