{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block activi %}en disponibilidad horaria{% endblock activi %}
{% block tabletitle %}Eliminar disponibilidad horaria{% endblock tabletitle %}
{% block content %}
  {% include "pages/includes/pages_menu.html" %}
{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
      <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
  </div>
  <div class="message">
    <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito a {% endif %} a {{r.docente}} con el d&iacute;a {{r.dia}} con el horario {{r.hora}}<p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}

<thead>
  <tr>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>
    <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Docente</b></label></td>
        <td class="" style="border-bottom: 0px solid black;"><labe >{{disponibilidad.docente}}</label></td>
        </td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>D&iacute;a</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{disponibilidad.dia}}</label></td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Hora</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{disponibilidad.hora}}</label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" class="btn-eliminar"  value="Eliminar materia" /></td>
      </tr>
</tbody>
{% endblock %}