{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block activi %}en disponibilidad horaria{% endblock activi %}
{% block tabletitle %}Listado de disponibilidad horaria del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
    {% for awa in admin %}
        {% if r.history_user_id == awa.user_id %}
            <img {% if awa.admin_profile_pic %} src="{{awa.admin_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for owo in coordina %}
        {% if r.history_user_id == owo.user_id %}
            <img {% if owo.coordina_profile_pic %} src="{{owo.coordina_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for ewe in docente %}
        {% if r.history_user_id == ewe.user_id %}
            <img {% if ewe.docente_profile_pic %} src="{{ewe.docente_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
  </div>
  <div class="message">
    <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito a {% endif %} a {{r.docente}} con el d&iacute;a {{r.dia}} y hora {{r.hora}}<p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}
{% if not model %}
    <thead>
        <tr>
            <th><h1>El docente a&uacute;n no ha seleccionado su disponibilidad horaria</h1></th>
        </tr>
    </thead>
{% else %}
<form method="POST" action="{% url 'pages:disponi' %}">
    {% csrf_token %}
    <div style="display:flex; margin-bottom:20px;">
        <div style="margin-right:10px;">
            <input type="search" id="textSearch" placeholder="Buscar disponibilidad" name="searched" />
        </div>
        <div>
            <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
        </div>
    </div>
</form>
{% if searched %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>ID Materia</th>
            <th>Nombre de la Materia</th>
            <th>Carga horaria</th>
            <th>Grado</th>
            <th>Aula</th>
            {% if request.user.is_staff %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for disponibilidad in disdo%}
            <tr>
                <td class="">{{forloop.counter}}</td>
                <td class="">{{disponibilidad.dia}}</td>
                <td class="">{{disponibilidad.hora}}</td>
                <td class="">{{disponibilidad.docente}}</td>
                {% if request.user.is_staff %}
                    <td class=""><a class="btn-update" href="{% url 'pages:dispoupdate' disponibilidad.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                    <td class=""><a class="btn-delete" href="{% url 'pages:dispodel' disponibilidad.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% else %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>D&iacute;a</th>
            <th>Hora</th>
            <th>Docente</th>
            {% if request.user.is_staff %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for disponibilidad in model%}
            <tr>
                <td class="">{{forloop.counter}}</td>
                <td class="">{{disponibilidad.dia}}</td>
                <td class="">{{disponibilidad.hora}}</td>
                <td class="">{{disponibilidad.docente}}</td>
                {% if request.user.is_staff %}
                    <td class=""><a class="btn-update" href="{% url 'pages:dispoupdate' disponibilidad.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                    <td class=""><a class="btn-delete" href="{% url 'pages:dispodel' disponibilidad.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
{% endif %}
{% endblock table %}