{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block tabletitle %}Listado de disponibilidad horaria del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}
{% block table %}
{% if disponibilidad_list.count == 0 %}
    <thead>
        <tr>
            <th><h1>El docente a&uacute;n no ha seleccionado su disponibilidad horaria</h1></th>
        </tr>
    </thead>
{% else %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>D&iacute;a</th>
            <th>Hora</th>
            <th>Docente</th>
            {% if request.user.is_staff %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for disponibilidad in disponibilidad_list%}
            <tr>
                <td class="">{{forloop.counter}}</td>
                <td class="">{{disponibilidad.dia}}</td>
                <td class="">{{disponibilidad.hora}}</td>
                <td class="">{{disponibilidad.docente}}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
{% endblock table %}