{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block tabletitle %}Actualizar disponibilidad horaria{% endblock tabletitle %}
{% block agregarItem %}Actualizar disponibilidad horaria{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}

{% block table %}
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{form.as_table}}
    </tr>
    <tr>
        <td colspan="2"><input type="submit" class="btn-editar"  value="Actualizar disponibilidad horaria" /></td>
    </tr>
  </tbody>
{% endblock table %}