{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Docente materia{% endblock title %} 
{% block subtitle %}Docente materia{% endblock subtitle %}
{% block tabletitle %}Listado de materias del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}
{% block table %}
{% if docentemateria_list.count == 0 %}
    <thead>
        <tr>
            <th><h1>No hay materias por mostrar, necesitas crearlas</h1></th>
        </tr>
    </thead>
{% else %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>Materia</th>
            <th>Docente</th>
            <th>Aula</th>
            {% if request.user.is_staff %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for docemate in docentemateria_list|dictsort:"id" %}
            <td class="">{{forloop.counter}}</td>
            <td class="">{{docentemateria.materia}}</td>
            <td class="">{{docentemateria.docente}}</td>
            <td class="">{{docentemateria.aula}}</td>
        {% endfor %}
    </tbody>
{% endif %}
{% endblock table %}