{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Docente materia{% endblock title %} 
{% block subtitle %}Docente materia{% endblock subtitle %}
{% block tabletitle %}Eliminar materia del docente{% endblock tabletitle %}
{% block content %}
  {% include "pages/includes/pages_menu.html" %}
{% endblock content %}

{% block table %}

<thead>
  <tr>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>
    <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Materia</b></label></td>
        <td class="" style="border-bottom: 0px solid black;"><labe >{{docentemateria.materia}}</label></td>
        </td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Docente</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{docentemateria.docente}}</label></td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Aula</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{docentemateria.aula}}</label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" class="btn-eliminar"  value="Eliminar materia" /></td>
      </tr>
</tbody>
{% endblock %}