{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Docente materia{% endblock title %} 
{% block subtitle %}Docente materia{% endblock subtitle %}
{% block activi %}Acciones recientes{% endblock activi %}
{% block tabletitle %}Listado de materias del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}

{% block history %}
{% if histo.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in histo %}
<div class="update">
  <div class="profile-photo">
    {% for awa in admin %}
        {% if r.history_user_id == awa.user_id %}
            <img {% if awa.admin_profile_pic %} src="{{awa.admin_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for owo in coordina %}
        {% if r.history_user_id == owo.user_id %}
            <img {% if owo.coordina_profile_pic %} src="{{owo.coordina_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for ewe in docente %}
        {% if r.history_user_id == ewe.user_id %}
            <img {% if ewe.docente_profile_pic %} src="{{ewe.docente_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
  </div>
  <div class="message">
      <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito la {% endif %} {{r.materia}} con {{r.docente}}<p>
          <small class="text-muted">{{r.history_date}}</small>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}
{% if not matedo %}
    <thead>
        <tr>
            <th><h1>Aun no se ha asignado una materia al docente</h1></th>
        </tr>
    </thead>
{% else %}
<form method="POST" action="{% url 'pages:docemates' %}">
    {% csrf_token %}
    <div style="display:flex; margin-bottom:20px;">
        <div style="margin-right:10px;">
            <input type="search" id="textSearch" placeholder="Buscar al docente o materia" name="searched" />
        </div>
        <div>
            <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
        </div>
    </div>
</form>
{% if searched %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>Materia</th>
            <th>Docente</th>
            <th>D&iacute;a</th>
            <th>Horario</th>
            <th>Clase</th>
            {% if request.user.is_staff or request.user.is_coordina or request.user.is_docente %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for docemate in model|dictsort:"id" %}
            <tr>
                <td class="">{{forloop.counter}}</td>
                <td class="">{{docemate.materia}}</td>
                <td class="">{{docemate.docente}}</td>
                <td class="">{{docemate.dia}}</td>
                <td class="">{{docemate.start_time}}:00 - {{docemate.end_time}}:00</td>
                <td class="">{{docemate.clase}}</td>
                {% if request.user.is_staff or request.user.is_coordina or request.user.is_docente %}
                    <td class=""><a class="btn-update" href="{% url 'pages:doceupdate' docemate.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                    <td class=""><a class="btn-delete" href="{% url 'pages:docedel' docemate.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <td>
                <span class="step-links pagination">
                    {% if model.has_previous %}
                        <a href="?pages:docemates={{ model.previous_page_number }}"> < Prev </a>
                    {% endif %}
                    {% if model.has_next %}
                        <a href="?pages:docemates={{ model.next_page_number }}"> Next > </a>
                    {% endif %}
                </span>
            </td>
        </tr>
    </tbody>
{% else %}
    <thead>
        <tr>
            <th>Numero</th>
            <th>Materia</th>
            <th>Docente</th>
            <th>D&iacute;a</th>
            <th>Horario</th>
            <th>Clase</th>
            {% if request.user.is_staff or request.user.is_coordina or request.user.is_docente %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for docemate in model|dictsort:"id" %}
            <tr>
                <td class="">{{forloop.counter}}</td>
                <td class="">{{docemate.materia}}</td>
                <td class="">{{docemate.docente}}</td>
                <td class="">{{docemate.dia}}</td>
                <td class="">{{docemate.start_time}}:00 - {{docemate.end_time}}:00</td>
                <td class="">{{docemate.clase}}</td>
                {% if request.user.is_staff or request.user.is_coordina or request.user.is_docente %}
                    <td class=""><a class="btn-update" href="{% url 'pages:doceupdate' docemate.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                    <td class=""><a class="btn-delete" href="{% url 'pages:docedel' docemate.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <td>
                <span class="step-links pagination">
                    {% if model.has_previous %}
                        <a href="?pages:docemates={{ model.previous_page_number }}"> < Prev </a>
                    {% endif %}
                    {% if model.has_next %}
                        <a href="?pages:docemates={{ model.next_page_number }}"> Next > </a>
                    {% endif %}
                </span>
            </td>
        </tr>
    </tbody>
{% endif %}

    
{% endif %}

{% if messages %}
{% for message in messages %}
    <script>
        Swal.fire({
            "title": "Felicidades",
            "text": "{{message}}",
            "icon": "success"
        })
    </script>
{% endfor %}
{% endif %}
{% endblock table %}