{% extends 'core/homeuser.html' %}
{% load static %}
{% block title %}Crear materia{% endblock %}
{% block subTitle %}<h3><span>Materias</span></h3>{% endblock subTitle %}
{% block subMenu %}
    <p><a href="#"><span>Home</span></a> > <a href="{% url 'pages:pages' %}" ><span>Materias</span></a> > <span class="aChoose">Crear materia</span></p>
{% endblock subMenu %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}<!--token para traer todo-->
                
                    {{ form.as_p }}<!--como lo va a traer-->
                
                <div class="text-center">
                  <input type="submit" style="background: blue;" value="Crear materia" />
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}