{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Materias{% endblock title %} 
{% block subtitle %}Materias{% endblock subtitle %}
{% comment %} {% block activi %}en materias{% endblock activi %} {% endcomment %}
{% block tabletitle %}Crear nueva materia{% endblock tabletitle %}
{% block agregarItem %}Agregar materia{% endblock agregarItem %}
{% block content %}
  {% include "pages/includes/pages_menu.html" %}
{% endblock content %}



{% block table %}


<script>
  
</script>


  {% if messages %}
  {% for message in messages %}
      <div class="text-center alert alert-{{ message.tags }}">
          {{ message|safe }}
      </div>
  {% endfor %}
{% endif %}
<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="action" value="{{action}}">
  <thead>
    <tr>
        <th width="30%"></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>Clave</b></label></td>
      <td class="" ><input type="text" name="clave" class="txt-all" placeholder="Clave de la materia"></td>
    </tr>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>Nombre</b></label></td>
      <td class="" ><input type="text" name="materia" class="txt-all" placeholder="Nombre de la materia"></td>
    </tr>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>Carga</b></label></td>
      <td class="" ><input type="number" name="carga" class="txt-all" placeholder="Carga horaria"></td>
    </tr>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>Grupo</b></label></td>
      <td class="" ><input type="number" name="grupo" class="txt-all" placeholder="Grupo"></td>
    </tr>
    <tr>
      <td class="" style="border-bottom: 0px solid black;"><labe ><b>Aula</b></label></td>
      <td class="" ><select name="aula" id="aula" onChange="awa();">
                        <option value="">Selecciona</option>
                        {% for awa in aul %}
                          <option value="{{awa.id}}">{{page.aula}}</option>
                        {% endfor %}
                    </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" class="btn-enviar"  value="Crear materia" /></td>
    </tr>
  </tbody>
</form>
{% endblock %}