{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Materias{% endblock title %} 
{% block subtitle %}Materias{% endblock subtitle %}
{% block activi %}en materias{% endblock activi %}
{% block tabletitle %}Eliminar materia{% endblock tabletitle %}
{% block content %}
  {% include "pages/includes/pages_menu.html" %}
{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
    <div class="update">
        <div class="profile-photo">
            
        </div>
        <div class="message">
            <p><h2>Aun no hay cambios</h2> <p>
                <small class="text-muted"></small>
        </div>
    </div>
{% else %}
  {% for r in history_list %}
  <div class="update">
      <div class="profile-photo">
        {% for awa in admin %}
            {% if r.history_user_id == awa.user_id %}
                <img {% if awa.admin_profile_pic %} src="{{awa.admin_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
            {% endif %}
        {% endfor %}
        {% for owo in coordina %}
            {% if r.history_user_id == owo.user_id %}
                <img {% if owo.coordina_profile_pic %} src="{{owo.coordina_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
            {% endif %}
        {% endfor %}
        {% for ewe in docente %}
            {% if r.history_user_id == ewe.user_id %}
                <img {% if ewe.docente_profile_pic %} src="{{ewe.docente_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
            {% endif %}
        {% endfor %}
      </div>
      <div class="message">
          <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio la materia {% elif r.history_type == '-' %} elimino la materia {% elif r.history_type == '~' %} edito la materia {% endif %} {{r.materia}}<p>
              <small class="text-muted">{{r.history_date}}</small>
      </div>
  </div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}

<thead>
  <tr>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Clave</b></label></td>
        <td class="" style="border-bottom: 0px solid black;"><labe >{{page.clave}}</label></td>
        </td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Nombre</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{page.materia}}</label></td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Carga</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{page.carga}}</label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" class="btn-eliminar"  value="Eliminar materia" /></td>
      </tr>
</tbody>
{% endblock %}