{% load static %} <!--Bloque para cargar archivos estaticos-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link type='text/css' rel="stylesheet" href="{% static "core/css/main.css" %}"> <!--es necesario poner static para trabajar con los archivos estaticos de dicho directorio-->
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    </head>
    <body >
        <header id="main-header">
            <a id="logo-header" href="{% url 'home' %}">
                <img id="unedlimg" src="{% static 'core/img/unedl.png' %}" height="63" >
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li id="separate" ><a id="aLogin" href="{% url 'login' %}">Login</a></li>
                    <li><a id="aSignup" href="">Sign up</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}

    </body>
</html>