{% load static %} <!--Bloque para cargar archivos estaticos-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}"> <!--es necesario poner static para trabajar con los archivos estaticos de dicho directorio-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
        <script src= "https //kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <script></script>
    <body id="body">
    {% csrf_token %} 
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>
    
    <div class="menu__side" id="menu__side">

        <div class="name__page">
            <h4></h4>
        </div>

        <div class="options__menu">
            <a href="{% url 'homeUser' %}" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-sharp fa-solid fa-school-flag" title="Plantel"></i>
                    <h4>Plantel</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Aula"></i>
                    <h4>Aula</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Licenciatura"></i>
                    <h4>Licenciatura</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Semestre"></i>
                    <h4>Semestre</h4>
                </div>
            </a>
            <a href="{% url 'pages:pages' %}">
                <div class="option">
                    <i class="fa-sharp fa-solid fa-book" title="Materia"></i>
                    <h4>Materia</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Materia del docente"></i>
                    <h4>Materia del docente</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Disponibilidad"></i>
                    <h4>Disponibilidad</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Horario docente"></i>
                    <h4>Horario docente</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Docentes"></i>
                    <h4>Docentes</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Alumnos"></i>
                    <h4>Alumnos</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fas fa-home" title="Horario docente"></i>
                    <h4>Horario docente</h4>
                </div>
            </a>
        </div>

    </div>

    <main>
        {% block content %}{% endblock content %}
    </main>
                {% comment %} <a href="{% url 'profile' %}" class="logout_btn"><img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt=""></a> {% endcomment %}
       
            {% comment %} <center>
                <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt="">
                <h4>{{user}}</h4>
            </center> {% endcomment %}
            
            {% comment %} {% if  user.is.authenticated and request.user.profile.role != 'E'%}
            
            {% endif %} {% endcomment %}
          

        <!--Slidebar end-->
        {% comment %} <div class="content">
            
            <div class="contCRUD">
                {% block subTitle %}{% endblock subTitle %}
                {% block subMenu %}{% endblock subMenu %}
            </div>
            <div class="divCont">
                {% block content %}{% endblock content %}
            </div>
        
        </div> {% endcomment %}
        <script src="{% static 'core/js/userStyle.js' %}"></script>
    </body>
</html>