{% load static %} <!--Bloque para cargar archivos estaticos-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}"> <!--es necesario poner static para trabajar con los archivos estaticos de dicho directorio-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
        {% comment %} <script src= "https //kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script> {% endcomment %}
    </head>
    <script></script>
    <body id="body">
    {% csrf_token %} 
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'core/img/logo.png' %}">
                    <img id="letras" src="{% static 'core/img/letras.png' %}">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar" >
                <a href="{% url 'homeUser' %}" class="{% if request.path == '/home/' %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">school</span>
                    <h3>Plantel</h3>
                </a>
                <a href="#" >
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Aulas</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">history_edu</span>
                    <h3>Licenciaturas</h3>
                </a>
                <a href="{% url 'pages:pages' %}" class="{% if request.path == '/materias/' or request.path == '/materias/create/' or request.path == '/materias/update/<int:pk>/' or request.path == '/materias/delete/<int:pk>/' %}active{% endif %}">
                    <span class="material-icons-sharp">library_books</span>
                    <h3>Materias</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Materia del docente</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Horario</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Docentes</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Alumnos</h3>
                </a>
                <a href="{% url 'logout' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>{% block subtitle %}{% endblock subtitle %}</h1>
            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Materias asignadas</h3>
                            <h1>221</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                <p>80%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
                {% comment %} FIN DEL MATERIAS ASIGNADAS {% endcomment %}
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Horarios asignados</h3>
                            <h1>201</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                <p>80%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
                {% comment %}  {% endcomment %}
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Horarios asignados</h3>
                            <h1>201</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                <p>80%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
            </div>
            <form method="post">{% csrf_token %}
                <div class="list-div">
                    <h2>{% block tabletitle %}{% endblock tabletitle %}</h2>
                    <table>
                        {% block table %}{% endblock table %}
                    </table>
                </div>
            </form>
        </main>

        {% comment %} FIN DEL MAIN {% endcomment %}
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p><b>{{user}}<b></p>
                        <small class="text-muted">Rol</small>
                    </div>
                    <div class="profile-photo">
                        <a href="{% url 'profile' %}"><img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} alt=""></a>
                    </div>
                </div>
            </div>  
            {% comment %} fin del top {% endcomment %}
            <div class="recent-updates">
                <h2>Actividades recientes</h2>
                <div class="updates">
                    {% comment %} bloque de actualizaciones {% endcomment %}
                    <div class="update">
                        <div class="profile-photo">
                            <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} alt="">
                        </div>
                        <div class="message">
                            <p><b>User name</b> nombre de la actividad que realizo o ajustes que hizo<p>
                                <small class="text-muted">hace 2 minutos</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} alt="">
                        </div>
                        <div class="message">
                            <p><b>User name</b> nombre de la actividad que realizo o ajustes que hizo<p>
                                <small class="text-muted">hace 2 minutos</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} alt="">
                        </div>
                        <div class="message">
                            <p><b>User name</b> nombre de la actividad que realizo o ajustes que hizo<p>
                                <small class="text-muted">hace 2 minutos</small>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} fin de las actividades {% endcomment %}
            <div class="sales-analytics">
                <h2>Recomendaciones</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Es necesario crear las materias</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Es necesario crear las materias</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Es necesario crear las materias</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
                {% comment %} <a href="{% url 'profile' %}" class="logout_btn"><img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt=""></a> {% endcomment %}
       
            {% comment %} <center>
                <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt="">
                <h4>{{user}}</h4>
            </center> {% endcomment %}
            
            {% comment %} {% if  user.is.authenticated and request.user.profile.role != 'E'%}
            
            {% endif %} {% endcomment %}
          

        <!--Slidebar end-->
        {% comment %} <div class="content">
            
            <div class="contCRUD">
                {% block subTitle %}{% endblock subTitle %}
                {% block subMenu %}{% endblock subMenu %}
            </div>
            <div class="divCont">
                {% block content %}{% endblock content %}
            </div>
        
        </div> {% endcomment %}
        <script src="{% static 'core/js/userStyle.js' %}"></script>
    </body>
</html>