{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Home{% endblock title %} 
{% block content %}
    <div class="divPadre">
        <div class="divHijo">
            <div class="divCont">
                <div>
                    <center>
                    <h1>GHEA<br><br> </h1></center>
                    <h2> de Horarios y Estadistica de Asistencia</h2>
                    <br>
                    <p>Administra bien los horarios de clase</p><br><br>

                    <h2 >¿Que es ghea?</h2>
                    <p id="Acerca">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore minima sapiente error fugiat inventore deleniti, ratione iure dicta accusamus incidunt? Veniam voluptatibus repudiandae incidunt odit, consequuntur rem corporis necessitatibus amet.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quod quae doloribus itaque tempore ut eligendi mollitia, pariatur voluptas temporibus voluptates. Repudiandae debitis tempore quos incidunt placeat nulla explicabo error.
                    </p>
                </div>
            </div>
            <div class="divImg">
                <div id="centImg"><br>
                    <img id="imgHor" src="{% static 'core/img/ejemplo.jpg' %}" ></
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span> Footer 2022</span>

    </footer>
    
    
  </body>
{% endblock content %}

