{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'core/img/logo.png' %}">
        <title>{% block title %}{% endblock title %}</title>
        <link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}" > <!--es necesario poner static para trabajar con los archivos estaticos de dicho directorio-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% comment %} ALERTAS {% endcomment %}
        <script src="{% static 'core/lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
        {% comment %} <script src= "https //kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script> {% endcomment %}
    </head>
    <script></script>
    <body id="body">
    {% csrf_token %} 
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'core/img/logo.png' %}">
                    <img id="letras" src="{% static 'core/img/letras.png' %}">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar" >
                <a href="{% url 'homeUser' %}" class="{% if request.path == '/home/' %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                {% url 'pages:update' page.id as my_view %}
                {% url 'pages:delete' page.id as my_view1 %}
                {% url 'pages:doceupdate' docentemateria.id as my_view2 %}
                {% url 'pages:docedel' docentemateria.id as my_view3 %}
                {% url 'pages:dispoupdate' disponibilidad.id as my_view4 %}
                {% url 'pages:dispodel' disponibilidad.id as my_view5 %}
                {% url 'planteles:planupdate' plantel.id as view1 %}
                {% url 'planteles:plandel' plantel.id as view2 %}
                {% url 'planteles:licenupdate' licenciatura.id as view3 %}
                {% url 'planteles:licendele' licenciatura.id as view4 %}
                {% url 'planteles:aulaupdate' aula.id as view5 %}
                {% url 'planteles:auladel' aula.id as view6 %}
                {% url 'planteles:semeupdate' semestre.id as view8 %}
                {% url 'planteles:semedel' semestre.id as view9 %}
                {% url 'pages:diaupdate' dia.id as view10 %}
                {% url 'pages:horaupdate' hora.id as view11 %}
                {% if request.user.is_staff or request.user.is_admin %}
                <a title="Planteles" href="{% url 'planteles:planteles' %}" class="{% if request.path == '/insti/plantel/' or request.path == '/insti/plantel/create/' or request.path == view1 or request.path == view2 %}active{% endif %}">
                    <span class="material-icons-sharp">school</span>
                    <h3>Planteles</h3>
                </a>
                <a title="Semestres" href="{% url 'planteles:semestres' %}" class="{% if request.path == '/insti/semestre/' or request.path == '/insti/semestre/create/' or request.path == view8 or request.path == view9 %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Semestres</h3>
                </a>
                <a title="D&iacute;as" href="{% url 'pages:dias' %}" class="{% if request.path == '/mate/dia/' or request.path == '/mate/dia/create/' or request.path == view10 %}active{% endif %}">
                    <span class="material-icons-sharp active">light_mode</span>
                    <h3>D&iacute;as</h3>
                </a>
                <a title="Horas" href="{% url 'pages:horas' %}" class="{% if request.path == '/mate/hora/' or request.path == '/mate/hora/create/' or request.path == view11 %}active{% endif %}">
                    <span class="material-icons-sharp active">hourglass_top</span>
                    <h3>Horas</h3>
                </a>
                <a title="Aulas" href="{% url 'planteles:aulas' %}" class="{% if request.path == '/insti/aula/' or request.path == '/insti/aula/create/' or request.path == view5 or request.path == view6 %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Aulas</h3>
                </a>
                <a title="Licenciaturas" href="{% url 'planteles:licenciaturas' %}" class="{% if request.path == '/insti/licenciatura/' or request.path == '/insti/licenciatura/create/' or request.path == view3 or request.path == view4 %}active{% endif %}">
                    <span class="material-icons-sharp">history_edu</span>
                    <h3>Licenciaturas</h3>
                </a>
                {% endif %}
                <a title="Materias" href="{% url 'pages:pages' %}" class="{% if request.path == '/mate/materia/' or request.path == '/mate/materia/create/' or request.path == my_view or request.path == my_view1 %}active{% endif %}">
                    <span class="material-icons-sharp">library_books</span>
                    <h3>Materias</h3>
                </a>
                <a title="Materia del docente" href="{% url 'pages:docemates' %}" class="{% if request.path == '/mate/docemate/' or request.path == '/mate/docemate/create/' or request.path == my_view2 or request.path == my_view3 %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Materia del docente</h3>
                </a>
                <a title="Disponibilidad horaria" href="{% url 'pages:disponi' %}" class="{% if request.path == '/mate/disponibilidad/' or request.path == '/mate/disponibilidad/create/' or request.path == my_view4 or request.path == my_view5 %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Disponibilidad horaria</h3>
                </a>
                <a title="Horarios" href="{% url 'usuarios:horario' %}" class="{% if request.path == '/usuarios/horario_esc/' %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Horario</h3>
                </a>
                {% if request.user.is_staff or request.user.is_admin %}
                <a title="Administrar usuarios" href="{% url 'userPage' %}" class="{% if request.path == '/admn/' or request.path == '/usuarios/admin_list/' or request.path == '/usuarios/admin_signup/' or request.path == '/usuarios/coordina_list/' or request.path == '/usuarios/coordina_import/' or request.path == '/usuarios/coordina_signup/' or request.path == '/usuarios/docente_list/' or request.path == '/usuarios/docente_import/' or request.path == '/usuarios/docente_signup/' or request.path == '/usuarios/alumno_list/' or request.path == '/usuarios/alumno_signup/' %}active{% endif %}">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Administrar usuarios</h3>
                </a>
                {%endif%}
                <a href="{% url 'usuarios:logout' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>{% block subtitle %}{% endblock subtitle %}</h1>
            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Materias creadas</h3>
                            {% if pages %}
                                <h1>{{pages.count}}</h1>
                            {% else %}
                                <h1>{{pages.count}}</h1>
                            {% endif %}
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                {% if pages %}
                                    <p>{{pages.count}}</p>
                                {% else %}
                                    <p>{{pages.count}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
                {% comment %} FIN DEL MATERIAS ASIGNADAS {% endcomment %}
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Docentes que han seleccionado su disponibilidad horaria</h3>
                            {% if disponi %}
                                <h1>{{disponi.count}}</h1>
                            {% else %}
                                <h1>{{disponi.count}}</h1>
                            {% endif %}
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                {% if disponi %}
                                    <p>{{disponi.count}}</p>
                                {% else %}
                                    <p>{{disponi.count}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
                {% comment %}  {% endcomment %}
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Docentes que han seleccionado su materia</h3>
                            {% if matedo %}
                                <h1>{{matedo.count}}</h1>
                            {% else %}
                                <h1>{{matedo.count}}</h1>
                            {% endif %}
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='38'></circle>
                            </svg>
                            <div class="number">
                                {% if matedo %}
                                    <p>{{matedo.count}}</p>
                                {% else %}
                                    <p>{{matedo.count}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">owo</small>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
                <div class="list-div">
                    <h2>{% block tabletitle %}{% endblock tabletitle %}</h2>
                    <table width="100%">
                        {% block table %}{% endblock table %}
                    </table>
                </div>
            </form>
        </main>

        {% comment %} FIN DEL MAIN {% endcomment %}
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hola!<b>
                                    {% if request.user.is_staff or request.user.is_admin %}
                                        {% for awa in admin %}
                                            {% if user.id == awa.user_id %}
                                                {{awa.nombre}} 
                                            {% endif %}
                                        {% endfor %}
                                    {%elif request.user.is_coordina %}
                                        {% for awa in coordina %}
                                            {% if user.id == awa.user_id %}
                                                {{awa.nombre}} 
                                            {% endif %}
                                        {% endfor %}
                                    {%elif request.user.is_docente %}
                                        {% for awa in docente %}
                                            {% if user.id == awa.user_id %}
                                                {{awa.nombre}} 
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                <b></p>
                        {% if request.user.is_staff or request.user.is_admin %}
                            <small class="text-muted">Admin</small>
                        {%elif request.user.is_coordina %}
                            <small class="text-muted">Coordinador</small>
                        {%elif request.user.is_docente %}
                            <small class="text-muted">Docente</small>
                        {%elif request.user.is_alumno %}
                            <small class="text-muted">Alumno</small>
                        {% endif %}
                    </div>
                    <div class="profile-photo">
                        <a href="{% url 'usuarios:profile_view' %}">
                            {% if request.user.is_admin or request.user.is_staff %}
                                {% for owo in admin %}
                                {% if user.id == owo.user_id %}
                                    {% if owo.admin_profile_pic %}
                                    <img src="{{owo.admin_profile_pic.url}}" class="img" alt="">
                                    {% else %}
                                    <img src="{% static 'usuarios/img/imgUser.png' %}" class="img" alt="">
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            {% elif request.user.is_coordina %}
                                {% for owo in coordina %}
                                    {% if user.id == owo.user_id %}
                                        {% if owo.coordina_profile_pic %}
                                        <img src="{{owo.coordina_profile_pic.url}}" class="img" alt="">
                                        {% else %}
                                        <img src="{% static 'usuarios/img/imgUser.png' %}" class="img" alt="">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% elif request.user.is_docente %}
                                {% for owo in docente %}
                                    {% if user.id == owo.user_id %}
                                        {% if owo.docente_profile_pic %}
                                        <img src="{{owo.docente_profile_pic.url}}" class="img" alt="">
                                        {% else %}
                                        <img src="{% static 'usuarios/img/imgUser.png' %}" class="img" alt="">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>  
            {% comment %} fin del top {% endcomment %}
            <div class="recent-updates">
                <h2>{% block activi %}{% endblock activi %}</h2>
                {% if request.path == '/home/' %}
                    <div class="updates">
                        {% comment %} bloque de actualizaciones {% endcomment %}
                        {% for r in page_obj %}
                        <div class="update">
                            <div class="profile-photo">
                                    {% for awa in admin %}
                                        {% if r.history_user_id == awa.user_id %}
                                            <img {% if awa.admin_profile_pic %} src="{{awa.admin_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
                                        {% endif %}
                                    {% endfor %}
                                    {% for owo in coordina %}
                                        {% if r.history_user_id == owo.user_id %}
                                            <img {% if owo.coordina_profile_pic %} src="{{owo.coordina_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
                                        {% endif %}
                                    {% endfor %}
                                    {% for ewe in docente %}
                                        {% if r.history_user_id == ewe.user_id %}
                                            <img {% if ewe.docente_profile_pic %} src="{{ewe.docente_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            <div class="message">
                                <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio la materia {% elif r.history_type == '-' %} elimino la materia {% elif r.history_type == '~' %} edito la materia {% endif %} {{r.materia}}<p>
                                    <small class="text-muted">{{r.history_date}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="updates">{% block history %}{% endblock history %}</div>
                {% endif %}
            </div>
            {% comment %} fin de las actividades {% endcomment %}
            <div class="sales-analytics">
                <h2>Recomendaciones</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Es necesario primero crear los planteles y licenciaturas</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Despues crear los usuarios con los roles que se utilizaran</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">sentiment_satisfied</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Por ultimo crear y asignar materias a los docentes y automaticamente se ira generando el horario</h3>
                        </div>
                        <h5 class="seccess"></h5>
                        <h3></h3>
                    </div>
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
                {% comment %} <a href="{% url 'profile' %}" class="logout_btn"><img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt=""></a> {% endcomment %}
       
            {% comment %} <center>
                <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'registration/img/imgUser.png' %}" {% endif %} class="profile_image" alt="">
                <h4>{{user}}</h4>
            </center> {% endcomment %}
            
            {% comment %} {% if  user.is.authenticated and request.user.profile.role != 'E'%}
            
            {% endif %} {% endcomment %}
          

        <!--Slidebar end-->
        {% comment %} <div class="content">
            
            <div class="contCRUD">
                {% block subTitle %}{% endblock subTitle %}
                {% block subMenu %}{% endblock subMenu %}
            </div>
            <div class="divCont">
                {% block content %}{% endblock content %}
            </div>
        
        </div> {% endcomment %}
        <script src="{% static 'core/js/userStyle.js' %}"></script>
        <script src="{% static 'usuarios/js/user_list.js' %}"></script>
        <script src="{% static 'pages/js/functions.js' %}"></script>
    </body>
</html>