{% load static %}<!--CARGAR LOS ESTILOS DEL CKEDITOR, EN ESTE CASO PARA EL CONTENT-->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}"> 
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet"><!--modificar el content de ckeditor-->

{% url 'planteles:planupdate' plantel.id as view1 %}
{% url 'planteles:plandel' plantel.id as view2 %}
{% url 'planteles:licenupdate' licenciatura.id as view3 %}
{% url 'planteles:licendele' licenciatura.id as view4 %}
{% url 'planteles:aulaupdate' aula.id as view5 %}
{% url 'planteles:auladel' aula.id as view6 %}
{% url 'planteles:semeupdate' semestre.id as view7 %}
{% url 'planteles:semedel' semestre.id as view8 %}
{% url 'planteles:timetable' semestre.id as view12 %}
{% url 'planteles:dicupdate' ciclo.id as view9 %}
{% url 'planteles:cicdel' ciclo.id as view10 %}
{% if request.user.is_staff %}
  {% if request.path == '/insti/plantel/' %}
    <a href="{% url 'planteles:create' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/plantel/create/' %}
    <a href="{% url 'planteles:planteles' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view1 or request.path == view2 %}
    <a href="{% url 'planteles:create' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'planteles:planteles' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/licenciatura/' %}
    <a href="{% url 'planteles:create1' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/licenciatura/create/' %}
    <a href="{% url 'planteles:licenciaturas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view3 or request.path == view4 %}
    <a href="{% url 'planteles:create1' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'planteles:licenciaturas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/aula/' %}
    <a href="{% url 'planteles:create2' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/aula/create/' %}
    <a href="{% url 'planteles:aulas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view5 or request.path == view6 %}
    <a href="{% url 'planteles:create2' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'planteles:aulas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/home/' %}
    <a href="{% url 'planteles:create3' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/semestre-class/create/' %}
    <a href="{% url 'homeUser' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view7 or request.path == view8 %}
    <a href="{% url 'planteles:create3' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'homeUser' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
    {% elif request.path == '/insti/ciclo/' %}
    <a href="{% url 'planteles:createcic' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/ciclo/create/' %}
    <a href="{% url 'planteles:ciclos' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view9 or request.path == view10 %}
    <a href="{% url 'planteles:createcic' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'planteles:ciclos' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% endif %}
{% elif request.user.is_staff or request.user.is_coordina %}
  {% if request.path == '/home/' %}
    <a href="{% url 'planteles:create3' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/semestre-class/create/' %}
    <a href="{% url 'homeUser' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == view7 or request.path == view8 %}
    <a href="{% url 'planteles:create3' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
    <a href="{% url 'homeUser' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% endif %}
{% endif %}
