{% load static %}<!--CARGAR LOS ESTILOS DEL CKEDITOR, EN ESTE CASO PARA EL CONTENT-->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}"> 
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet"><!--modificar el content de ckeditor-->

{% if request.user.is_staff %}
  {% if request.path == '/insti/plantel/' %}
    <a href="{% url 'planteles:create' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/plantel/create/' %}
    <a href="{% url 'planteles:planteles' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/licenciatura/' %}
    <a href="{% url 'planteles:create1' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/licenciatura/create/' %}
    <a href="{% url 'planteles:licenciaturas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/aula/' %}
    <a href="{% url 'planteles:create2' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/aula/create/' %}
    <a href="{% url 'planteles:aulas' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/semestre/' %}
    <a href="{% url 'planteles:create3' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a>
  {% elif request.path == '/insti/semestre/create/' %}
    <a href="{% url 'planteles:semestres' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a>
  {% endif %}
{% endif %}
