{% load static %}<!--CARGAR LOS ESTILOS DEL CKEDITOR, EN ESTE CASO PARA EL CONTENT-->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="{% static 'usuarios/js/user_list.js' %}"></script>
<link type='text/css' rel="stylesheet" href="{% static "core/css/userStyle.css" %}"> 
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet"><!--modificar el content de ckeditor-->

{% if request.user.is_staff or request.user.is_coordina%}
{% comment %} ADMIN {% endcomment %}
{% if request.path == '/usuarios/admin_list/' %}
<a href="{% url 'usuarios:AdminSignUp' %}" class="btnTest"><div class="item add-product">
  <div>
    <span class="material-icons-sharp">add</span>
    <h3>Agregar</h3>
  </div>
</div></a> 
<a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
  <div>
    <span class="material-icons-sharp">manage_accounts</span>
    <h3>Usuarios</h3>
  </div>
</div></a> 
{% elif request.path == '/usuarios/admin_signup/' or request.path == '/usuarios/delete/' %}
<a href="{% url 'usuarios:administradores' %}"><div class="item add-product">
  <div>
    <span class="material-icons-sharp">format_list_bulleted</span>
    <h3>Listar</h3>
  </div>
</div></a> 
<a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
  <div>
    <span class="material-icons-sharp">manage_accounts</span>
    <h3>Usuarios</h3>
  </div>
</div></a> 
{% endif %}
{% comment %} COORDINA {% endcomment %}
  {% if request.path == '/usuarios/coordina_list/' %}
    <a href="{% url 'usuarios:CoordinaSignUp' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div></a> 
    <a href="{% url 'usuarios:coordina_load' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">arrow_upward</span>
        <h3>Importar xlsx</h3>
      </div>
    </div></a> 
    <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">manage_accounts</span>
        <h3>Usuarios</h3>
      </div>
    </div></a> 
  {% elif request.path == '/usuarios/coordina_signup/' or request.path == '/usuarios/delete/' or request.path == '/usuarios/coordina_import/' %}
    <a href="{% url 'usuarios:coordinadores' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">format_list_bulleted</span>
        <h3>Listar</h3>
      </div>
    </div></a> 
    <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">manage_accounts</span>
        <h3>Usuarios</h3>
      </div>
    </div></a> 
  {% endif %}
  {% comment %} DOCENTE {% endcomment %}
  {% if request.path == '/usuarios/docente_list/' %}
    <a href="{% url 'usuarios:DocenteSignUp' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div>
    <a href="{% url 'usuarios:docente_load' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">arrow_upward</span>
        <h3>Importar xlsx</h3>
      </div>
    </div></a> 
    <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">manage_accounts</span>
        <h3>Usuarios</h3>
      </div>
    </div></a> 
  {% elif request.path == '/usuarios/docente_signup/' or request.path == '/usuarios/docente_import/' %}
  <a href="{% url 'usuarios:docentes' %}"><div class="item add-product">
    <div>
      <span class="material-icons-sharp">format_list_bulleted</span>
      <h3>Listar</h3>
    </div>
  </div></a> 
  <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
    <div>
      <span class="material-icons-sharp">manage_accounts</span>
      <h3>Usuarios</h3>
    </div>
  </div></a> 
  {% endif %}
  {% comment %} ALUMNO {% endcomment %}
  {% if request.path == '/usuarios/alumno_list/' %}
    <a href="{% url 'usuarios:AlumnoSignUp' %}"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">add</span>
        <h3>Agregar</h3>
      </div>
    </div>
    <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
      <div>
        <span class="material-icons-sharp">manage_accounts</span>
        <h3>Usuarios</h3>
      </div>
    </div></a> 
  {% elif request.path == '/usuarios/alumno_signup/' %}
  <a href="{% url 'usuarios:alumnos' %}"><div class="item add-product">
    <div>
      <span class="material-icons-sharp">format_list_bulleted</span>
      <h3>Listar</h3>
    </div>
  </div></a> 
  <a href="{% url 'userPage' %}" class="btnTest"><div class="item add-product">
    <div>
      <span class="material-icons-sharp">manage_accounts</span>
      <h3>Usuarios</h3>
    </div>
  </div></a> 
  {% endif %}
{% endif %}
