{% extends 'core/user.html' %} 
{% load static %} 
{% block title %}Login{% endblock title %} 
{% block content %}


<div class="login-box">
  <style>.errorlist{color:red;}</style>
  <main>
      {% if 'register' in request.GET %}
        <script>
          alert("usuario registrado con exito")
        </script>
      {% endif %}
      <form action="" method="post">{% csrf_token %}
  <h2>Iniciar Sesión</h2>
  {% if form.non_field_errors %}
            <p style="color:red">Usuario o contrasena incorrectos, prueba de nuevo.</p>
          {% endif %}
  <form>
    <div class="user-box">
      <input type="text" name="username" autofocus maxlength="254" required
      id="id_username" class="form-control" placeholder=""/>
      <label>Nombre de Usuario</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required
      id="id_password" class="form-control" placeholder=""/>
      <label>Password</label>
    </div>
    
    <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>

    <!-- <a href="#">
      <span></span>
      efg
      <span></span>
      <span></span>
      <span></span>
      Ingresar
    </a> -->
  </form>
</div>
<!--
<style>.errorlist{color:red;}</style>
<main>
        {% if 'register' in request.GET %}
          <script>
            alert("usuario registrado con exito")
          </script>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
          <h2>Iniciar sesion</h2>
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contrasena incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contrasena"/>
          </p>
          
          <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
          <p>¿Ha olvidado su contrasena?, puede restaurarla <a href="{% url 'password_reset' %}">aqui</a></p>

        </form>
    </div>
    -->
</body>
-->
{% endblock content %}