{% extends 'core/user.html' %} 
{% load static %} 
{% block title %}Login{% endblock title %} 
{% block content %}
<body id="bodyLogin">
    <!--ventana Login-->
    <div class="login">
        <h1>Login</h1><br>
        <form method="post">
            <input type="text" id="txtId" name="txtId" placeholder="Matricula" required="required" />
            <input type="password" name="txtContra" placeholder="Password" required="required" />
            <button type="submit" id="btnRegi" class="btn btn-primary btn-block btn-large">Inisiar Sesion</button>
        </form>
    </div>
</body>

{% endblock content %}