{% extends 'core/loPage.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block subTitle %}<h3><span>Perfil</span></h3>{% endblock subTitle %}
{% block subMenu %}
    <p><a href="#"><span>Home</span></a> > <span class="aChoose">Perfil</span></p>
{% endblock subMenu %}
{% block content %}
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}<!--token para traer todo, y el otro para crear archivos-->
              <div class="col-md-2">
                {% if request.user.profile.avatar %}
                  <img src="{{request.user.profile.avatar.url}}" class="img-fluid">
                  <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                {% else %}
                  <img src="{% static 'registration/img/imgUser.png' %}" class="img-fluid">
                {% endif %}
              </div>
              <!-- Formulario -->
              <div class="col-md-10">
                <h3>Perfil</h3>
                <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
                {{ form.bio }}
                {{ form.link }}
                <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            </form>
{% endblock %}