{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Lista de administradores{% endblock title %} 
{% block subtitle %}Administradores{% endblock subtitle %}
{% block tabletitle %}Listado de administradores{% endblock tabletitle %}
{% block agregarItem %}Agregar administrador{% endblock agregarItem %}
{% block content %}
{% include "usuarios/includes/usuarios_menu.html" %}

{% endblock content %}
{% block table %}

{% if messages %}
{% for m in messages %}
    <script>
    Swal.fire({
      title: 'Con exito!',
      text: '{{m}}',
      icon: 'success',
    })
    </script>
{% endfor %}
{% endif %}

{% if not model %}
    <thead>
        <tr>
            <th><h1>No hay administradores por mostrar, necesitas registrarlos</h1></th>
        </tr>
    </thead>
{% else %}
<form method="POST" action="{% url 'usuarios:administradores' %}">
    {% csrf_token %}
    <div style="display:flex; margin-bottom:20px;">
        <div style="margin-right:10px;">
            <input type="search" id="textSearch" placeholder="Buscar administrador" name="searched" />
        </div>
        <div>
            <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
        </div>
    </div>
</form>
{% if searched %}
<thead>
    <tr>
        <th>No.</th>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Correo</th>
    </tr>
</thead>
<tbody>
    {% for admin in adm%}
        <tr>
            {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
            <td class="">{{forloop.counter}}</td>
            <td class="">{{admin.user.username}}</td>
            <td class="">{{admin.nombre}} {{admin.apepat}} {{admin.apemat}}</td>
            <td class="">{{admin.email}}</td>
        </tr>
    {% endfor %}
</tbody>
{% else %}
    <thead>
        <tr>
            <th>No.</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in model%}
            <tr>
                {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
                <td class="">{{forloop.counter}}</td>
                <td class="">{{admin.user.username}}</td>
                <td class="">{{admin.nombre}} {{admin.apepat}} {{admin.apemat}}</td>
                <td class="">{{admin.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
    
{% endif %}

{% endblock table %}