{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Lista de coordinadores{% endblock title %} 
{% block subtitle %}Coordinadores{% endblock subtitle %}
{% block tabletitle %}Listado de coordinadores{% endblock tabletitle %}
{% block agregarItem %}Agregar coordinador{% endblock agregarItem %}
{% block content %}
{% include "usuarios/includes/usuarios_menu.html" %}

{% endblock content %}
{% block table %}

{% if messages %}
{% for m in messages %}
    <script>
    Swal.fire({
      title: 'Registrado!',
      text: '{{m}}',
      icon: 'success',
    })
    </script>
{% endfor %}
{% endif %}

{% if not model %}
    <thead>
        <tr>
            <th><h1>No hay coordinadores por mostrar, necesitas registrarlos</h1></th>
        </tr>
    </thead>
{% else %}
<form method="POST" action="{% url 'usuarios:coordinadores' %}">
    {% csrf_token %}
    <div style="display:flex; margin-bottom:20px;">
        <div style="margin-right:10px;">
            <input type="search" id="textSearch" placeholder="Buscar coordinador" name="searched" />
        </div>
        <div>
            <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
        </div>
    </div>
</form>
{% if searched %}
    <thead>
        <tr>
            <th>No.</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Correo</th>
           
        </tr>
    </thead>
    <tbody>
        {% for coordina in cor %}
            <tr>
                {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
                <td class="">{{forloop.counter}}</td>
                <td class="">{{coordina.user.username}}</td>
                <td class="">{{coordina.nombre}} {{coordina.apepat}} {{coordina.apemat}}</td>
                <td class="">{{coordina.email}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
{% else %}
    <thead>
        <tr>
            <th>No.</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Correo</th>
            
        </tr>
    </thead>
    <tbody>
        {% for coordina in model %}
            <tr>
                {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
                <td class="">{{forloop.counter}}</td>
                <td class="">{{coordina.user.username}}</td>
                <td class="">{{coordina.nombre}} {{coordina.apepat}} {{coordina.apemat}}</td>
                <td class="">{{coordina.email}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
    
{% endif %}

{% endblock table %}