{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Lista de docentes{% endblock title %} 
{% block subtitle %}Docentes{% endblock subtitle %}
{% block tabletitle %}Listado de docentes{% endblock tabletitle %}
{% block agregarItem %}Agregar docente{% endblock agregarItem %}
{% block content %}
{% include "usuarios/includes/usuarios_menu.html" %}

{% endblock content %}
{% block table %}

{% if messages %}
{% for m in messages %}
    <script>
    Swal.fire({
      title: 'Registrado!',
      text: '{{m}}',
      icon: 'success',
    })
    </script>
{% endfor %}
{% endif %}

{% if not model %}
    <thead>
        <tr>
            <th><h1>No hay docentes por mostrar, necesitas registrarlos</h1></th>
        </tr>
    </thead>
{% else %}
<form method="POST" action="{% url 'usuarios:administradores' %}">
    {% csrf_token %}
    <div style="display:flex; margin-bottom:20px;">
        <div style="margin-right:10px;">
            <input type="search" id="textSearch" placeholder="Buscar docente" name="searched" />
        </div>
        <div>
            <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
        </div>
    </div>
</form>
{% if searched %}
    <thead>
        <tr>
            <th>No.</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Licenciatura</th>
            {% if request.user.is_staff or request.user.is_admin %}
                <th colspan="2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for docente in doc %}
            <tr>
                {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
                <td class="">{{forloop.counter}}</td>
                <td class="">{{docente.user.username}}</td>
                <td class="">{{docente.nombre}} {{docente.apepat}} {{docente.apemat}}</td>
                <td class="">{{docente.email}}</td>
                <td class=""></td>
                {% if request.user.is_staff %}
                    {% comment %} <td class=""><a class="btn-delete" href="{% url 'usuarios:deletecoordi' docente.user_id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>  {% endcomment %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% else %}
    <thead>
        <tr>
            <th>No.</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Correo</th>
            
        </tr>
    </thead>
    <tbody>
        {% for docente in model %}
            <tr>
                {% comment %} contador para poner el numero de materia que esta en la lista {% endcomment %}
                <td class="">{{forloop.counter}}</td>
                <td class="">{{docente.user.username}}</td>
                <td class="">{{docente.nombre}} {{docente.apepat}} {{docente.apemat}}</td>
                <td class="">{{docente.email}}</td>
               
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
    
{% endif %}

{% endblock table %}