{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block tabletitle %}Listado de disponibilidad horaria del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}
{% block table %}
<a href="{% url 'usuarios:export-csv' %}">Export csv</a>
<thead>
    <tr>
        <th>Horario <br> disponible</th>
        {% for r in dias %}
            <th>{{r.dia}}</th>
        {% endfor %}
    </tr>
<tbody>         
         
            {% for r in pubs %}
            <tr> 
                <td>{{r.hora_id}} - {{r.hora}}</td>
                {% if r.dia_id == 1 %}
                    <td>{{r.docente}} - {{r.docente_id}}</td>
                {% elif r.dia_id == 2 %}
                    <td>{{r.docente}} - {{r.docente_id}}</td>
                    <td>{{r.docente}} - {{r.docente_id}}</td>
                {% elif r.dia_id == 3 %}
                    <td>{{r.docente}} - {{r.docente_id}}</td>
                    <td>{{r.docente}} - {{r.docente_id}}</td>
                {% endif %}
            </tr>
            {% endfor %}
    
</tbody>
</thead>
{% endblock table %}