{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block tabletitle %}Listado de disponibilidad horaria del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}
{% block table %}
<a href="{% url 'usuarios:export-csv' %}">Export csv</a>
{% regroup pubs by hora as hora_list %}
<thead>
    <tr>
        <th>Horario <br> disponible</th>
        {% for r in dias %}
            <th>{{r.dia}}</th>
        {% endfor %}
    </tr>
<tbody>         
         
            {% for hora in hora_list %}
            <tr> 
                <td>{{hora.grouper}}</td>
                {% for doce in hora.list %}
                    <td>{{doce.docente}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    
</tbody>
</thead>
{% endblock table %}