{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Disponibilidad horaria{% endblock title %} 
{% block subtitle %}Disponibilidad horaria{% endblock subtitle %}
{% block tabletitle %}Listado de disponibilidad horaria del docente{% endblock tabletitle %}
{% block agregarItem %}Agregar materia al docente{% endblock agregarItem %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}

{% endblock content %}
{% block table %}
<a href="{% url 'usuarios:export-csv' %}">Export csv</a>
<thead>
    <tr>
        <th>Horario <br> disponible</th>
        {% for r in pubs %}
            <th>{{r.dia}}</th>
        {% endfor %}
        {% comment %} {% for h in dias %}
            <th>{{h.days}}</th>
        {% endfor %} {% endcomment %}
    </tr>
<tbody>
    <tr>
        {% for r in pubs %}
            <td>{{r.hora}}</td>
        
        {% comment %} <td class="">{{r.hora}}</td> {% endcomment %}
    </tr>
        {% endfor %}
</tbody>
</thead>
{% endblock table %}