{% extends 'core/user.html' %} 
{% load static %}
{% block title %}Iniciar sesion{% endblock %}
{% block content %}
{% comment %} <div class="login-page"> {% endcomment %}
    {% comment %} <img src="{% static 'images/login-background.PNG' %}" alt=""> {% endcomment %}
    {% comment %} <div class="login-form">
      <div class="avatar"> {% endcomment %}
        {% comment %} <img src="{% static 'images/login-avatar.PNG' %}" alt=""> {% endcomment %}
      {% comment %} </div>
      {% if messages %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {% for message in messages %}
          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <h1>Login</h1>
      <form action="{% url 'usuarios:login' %}" method="post">
        {% csrf_token %}
        <p>Username:</p>
        <input type="text" name="username" placeholder="matricula de usuario">
        <br>
        <br>
        <p>Password:</p>
        <input type="password" name="password" placeholder="contrasena">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" name="" value="Login">
      </form> {% endcomment %}
      {% comment %} <a href="{% url 'classroom:signup' %}">Don't have an account.</a> {% endcomment %}
    {% comment %} </div> {% endcomment %}
  {% comment %} </div> {% endcomment %}


<img class="wave" src="{% static 'core/img/wave.png' %}">
<div class="container">
  <div class="img">
    <img src="{% static 'core/img/loginpage.svg' %}">
  </div>
  <div class="login-container">
    <form action="{% url 'usuarios:login' %}" method="post">
      {% csrf_token %}
      <img class="avatar" src="{% static 'usuarios/img/imgUser.png' %}" >
      <h2>Bienvenido</h2>
      <div class="input-div one">
        <div class="i ">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <h5>Username</h5>
          <input class="input" type="text" name="username">
        </div>
      </div>

      <div class="input-div two">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div>
          <h5>Contrase&ntilde;a</h5>
          <input class="input" type="password" name="password" >
        </div>
      </div>

      <input class="btn btn-primary" type="submit" name="" value="Login">
    </form>
  </div>
</div>
<script src="{% static 'core/js/login.js' %}"></script> 


{% if messages %}
  {% for message in messages %}
    <script>
      Swal.fire({
          "title": "{% if message.tags %} {{ message.tags }}{% endif %}",
          "text": " {{ message|safe }}",
          "icon": "warning"
      })
    </script>
  {% endfor %}
{% endif %}
{% endblock content %}