{% extends 'core/user.html' %} 
{% load static %}
{% block title %}Cambiar Contrase&ntilde;a{% endblock %}
{% block content %}
<img class="wave" src="{% static 'core/img/wave.png' %}">
<div class="container">
  <div class="img">
    {% if validlink %}
        <img src="{% static 'core/img/password.svg' %}">
    {% else %}
        <img src="{% static 'core/img/invalid.svg' %}">
    {% endif %}
  </div>
  <div class="login-container">
    <form method="POST">
      {% csrf_token %}
        {% if validlink %}
            <img class="avatar" src="{% static 'usuarios/img/imgUser.png' %}" >
            <h2>Cambiar contrase&ntilde;a</h2>
            <div class="input-div one">
                <div class="i ">
                    <i class="fas fa-lock"><span class="material-icons-sharp">key</span></i>
                </div>
                <div>
                    <h5>Nueva contrase&ntilde;a</h5>
                    <input type="password" name="new_password1" autocomplete="new-password"
                                                       required id="id_new_password1" class="form-control input"
                                                       />
                </div>
            </div>
    
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"><span class="material-icons-sharp">key</span></i>
                </div>
                <div>
                    <h5>Confirmar contrase&ntilde;a</h5>
                    <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control input"
                                                       />
                </div>
            </div>

            <button type="submit" class="col-md-12 btn btn-dark" id="reset">Cambiar contrase&ntilde;a</button>
        {% else %}
                <h2>Sorry!!!</h2>
                <div><h3>El link para cambiar la contrase&ntilde;a es invalido, puede que se haya usado.
                    Por favor de solicitar un nuevo cambio de contrase&ntilde;a.</h3></div>
                
            
        {% endif %}
    </form>
  </div>
</div>
<script src="{% static 'core/js/login.js' %}"></script> 

{% if messages %}
  {% for message in messages %}
    <script>
      Swal.fire({
          "title": "{% if message.tags %} {{ message.tags }}{% endif %}",
          "text": " {{ message|safe }}",
          "icon": "warning"
      })
    </script>
  {% endfor %}
{% endif %}
{% endblock content %}

    {% comment %} <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="Enter password"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm password"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div> {% endcomment %}
{% comment %} {% endblock content %} {% endcomment %}