{% extends 'core/homeuser.html' %} 
{% load static %}
{% block table %}
<thead>
  <tr>
      <th>
        <div class="profile-card">
            <div class="profile-header">
                <img src="{% static 'core/img/fullunedl.jpg' %}" class="img" alt="">
            </div>
            <div class="profile-body">
                  <div class="author-img">
                      <img src="{% static 'usuarios/img/imgUser.png' %}" class="img" alt="">
                  </div>
                  <div class="name">
                    {% comment %} HACER UN LOOP HASTA CONSEGUIR EL ADMIN {% endcomment %}
                    {% if request.user.is_admin or request.user.is_staff %}
                        {% for awa in admin %}
                            {% if user.id == awa.user_id %}
                                {{awa.nombre}} {{awa.apepat}} {{awa.apemat}}
                            {% endif %}
                        {% endfor %}
                    {% comment %} HACER UN LOOP HASTA CONSEGUIR EL COORDINADOR {% endcomment %}
                    {% elif request.user.is_coordina %} 
                        {% for awa in coordina %}
                            {% if user.id == awa.user_id  %}
                                {{awa.nombre}} {{awa.apepat}} {{awa.apemat}}
                            {% endif %}
                        {% endfor %}
                    {% comment %} HACER UN LOOP HASTA CONSEGUIR EL DOCENTE {% endcomment %}
                    {% elif request.user.id_docente %}
                        {% for awa in docente %}
                            {% if user.id == awa.user_id  %}
                                {{awa.nombre}} {{awa.apepat}} {{awa.apemat}}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                  <div class="intro">
                    <p><b></b></p>
                     <p>Este usuario solamente se usara para esta plataforma,
                        ya que contiene un usuario y password unica.
                     </p>
                  </div>
                  <div class="social-icon">
                      <ul>
                          <li>
                              <a {% if request.user.is_admin or request.user.is_staff %}
                                        href="{% url 'usuarios:admin_update' %}"
                                {% elif request.user.is_coordina %}
                                        href="{% url 'usuarios:coordina_profile' %}"
                                {% elif request.user.id_docente %}
                                        href="#"
                                {% endif %} >
                                <span class="material-icons-sharp">edit</span>
                                {% comment %} <i class="fab fa-facebook-f"></i> {% endcomment %}
                              </a>
                          </li>
                      </ul>
                  </div>
            </div>
        </div>
      </th>
  </tr>
</thead>

{% endblock table %}