{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Aulas{% endblock title %} 
{% block subtitle %}Aulas{% endblock subtitle %}
{% block tabletitle %}Agregar aulas{% endblock tabletitle %}
{% block agregarItem %}Agregar aulas{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}
{% block table %}

<thead>
  <tr>
      <th width="30%"></th>
      <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="" style="border-bottom: 0px solid black;"><labe ><b>Clave</b></label></td>
    <td class="" ><input type="text" name="clave" class="txt-all" placeholder="Clave de la licenciatura"></td>
  </tr>
  <tr>
    <td class="" style="border-bottom: 0px solid black;"><labe ><b>Licenciatura</b></label></td>
    <td class="" ><input type="text" name="licenciatura" class="txt-all" placeholder="Nombre de la licenciatura"></td>
  </tr>
  <tr>
    <td class="" style="border-bottom: 0px solid black;"><labe ><b>Plantel</b></label></td>
    <td class="" ><input type="number" name="plantel" class="txt-all" placeholder="Nombre del plantel"></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" class="btn-enviar"  value="Crear materia" /></td>
  </tr>
</tbody>
{% endblock table %}
