{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Horario{% endblock title %} 
{% block subtitle %}Horario{% endblock subtitle %}
{% comment %} {% block activi %}Actividades recientes{% endblock activi %} {% endcomment %}
{% block tabletitle %}Horario escolar {% endblock tabletitle %}
{% comment %} {% block agregarItem %}Agregar materia{% endblock agregarItem %} {% endcomment %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}

{% block history %}

{% endblock history %}

{% block table %}
{% regroup docema by dia as hora_list %}
{% regroup docema by start_time as end_list %}
<thead>
    <tr>
        <th>Horario<br> disponible</th>
        {% for day in section.week_day %}
            <th>{{day}}</th>
        {% endfor %}
    </tr>
</thead>

<tbody>
    {% for time_s in end_list|dictsort:'grouper'%}
        <tr>
            <td>{{time_s.grouper}}</td>
            
            {% comment %} {% for doce in  %}
                
            {% endfor %} {% endcomment %}
        
    {% endfor %}
        </tr>
</tbody>
    
    
   {% comment %} {% for x in time_slot %}
        <tr>
            <td>{{x}}</td>
        {% for awa in hora_list %}  {% endcomment %}
        
            
            {% comment %} <td>{{awa.grouper}}:00</td> {% endcomment %}
            {% comment %} {% for doce in awa.list %}
                
                    
                        {% if x == '7:00 - 8:00' %}
                            
                            {% if doce.start_time == 7 and doce.end_time == 8 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}}</td>
                            {% elif doce.start_time == 7 and doce.end_time == 9 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% endif %}   
                         
                        {% elif x == '8:00 - 9:00' %} 
                            {% if doce.start_time == 7 and doce.end_time == 9 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 9 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                                
                            {% endif %} 
                        {% elif x == '9:00 - 10:00' %}  
                            {% if doce.start_time == 7 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 10 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            
                            {% endif %} 
                        {% elif x == '10:00 - 11:00' %}  
                            {% if doce.start_time == 7 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 11 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 12 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            
                            
                            {% endif %} 
                        {% elif x == '11:00 - 12:00' %}  
                            {% if doce.start_time == 7 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 7 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 11 and doce.end_time == 12 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 11 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            
                            {% endif %}
                        {% elif x == '12:00 - 13:00' %}  
                            {% if doce.start_time == 7 and doce.end_time == 13 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 8 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 9 and doce.end_time == 13 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 10 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>
                            {% elif doce.start_time == 11 and doce.end_time == 13 %}
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}}</td>
                            {% elif doce.start_time == 12 and doce.end_time == 13 %} 
                                <td><b>{{doce.docente}}</b> <br> {{doce.materia}} </td>  
                            
                            {% endif %}
                        
                        {% endif %} 

                
            {% endfor %}
        
        {% endfor %}
    </tr>
    {% endfor %} 
        
</tbody> {% endcomment %}
{% endblock table %}
