{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Licenciaturas{% endblock title %} 
{% block subtitle %}Licenciaturas{% endblock subtitle %}
{% block activi %}en licenciaturas{% endblock activi %}
{% block tabletitle %}Eliminar materia del docente{% endblock tabletitle %}
{% block content %}
  {% include "pages/includes/pages_menu.html" %}
{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
      <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
  </div>
  <div class="message">
    <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito a {% endif %} {{r.licenciatura}} en el plantel {{r.plantel}}<p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}

<thead>
  <tr>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>
    <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Clave</b></label></td>
        <td class="" style="border-bottom: 0px solid black;"><labe >{{licenciatura.clave}}</label></td>
        </td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Licenciatura</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{licenciatura.licenciatura}}</label></td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Plantel</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{licenciatura.plantel}}</label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" class="btn-eliminar"  value="Eliminar licenciatura" /></td>
      </tr>
</tbody>
{% endblock %}