{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Licenciaturas{% endblock title %} 
{% block activi %}en licenciaturas{% endblock activi %}
{% block subtitle %}Licenciaturas{% endblock subtitle %}
{% block tabletitle %}Listado de licenciaturas{% endblock tabletitle %}
{% block agregarItem %}Agregar licenciatura{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
      <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
  </div>
  <div class="message">
    <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito a {% endif %} {{r.licenciatura}} en el plantel {{r.plantel}}<p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}
    {% if licenciatura_list.count == 0 %}
        <thead>
            <tr>
                <th><h1>No hay licenciaturas por mostrar, necesitas registrarlos</h1></th>
            </tr>
        </thead>
    {% else %}
        <thead>
            <tr>
                <th>No.</th>
                <th>Clave</th>
                <th>licenciatura</th>
                <th>Plantel</th>
                {% if request.user.is_staff %}
                    <th colspan="2">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for licenciatura in licenciatura_list|dictsort:"id" %}
                <tr>
                    <td class="">{{forloop.counter}}</td>
                    <td class="">{{licenciatura.clave}}</td>
                    <td class="">{{licenciatura.licenciatura}}</td>
                    <td class="">{{licenciatura.plantel}}</td>
                    {% if request.user.is_staff %}
                        <td class=""><a class="btn-update" href="{% url 'planteles:licenupdate' licenciatura.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                        <td class=""><a class="btn-delete" href="{% url 'planteles:licendele' licenciatura.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
{% endblock table %}
