{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Planteles{% endblock title %} 
{% block subtitle %}Planteles{% endblock subtitle %}
{% block activi %}Acciones recientes{% endblock activi %}
{% block tabletitle %}Listado de planteles{% endblock tabletitle %}
{% block agregarItem %}Agregar materia{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
    {% for awa in admin %}
        {% if r.history_user_id == awa.user_id %}
            <img {% if awa.admin_profile_pic %} src="{{awa.admin_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for owo in coordina %}
        {% if r.history_user_id == owo.user_id %}
            <img {% if owo.coordina_profile_pic %} src="{{owo.coordina_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
    {% for ewe in docente %}
        {% if r.history_user_id == ewe.user_id %}
            <img {% if ewe.docente_profile_pic %} src="{{ewe.docente_profile_pic.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
        {% endif %}
    {% endfor %}
  </div>
  <div class="message">
    <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito a {% endif %} el plantel {{r.clave}} {{r.plantel}}<p>
        <small class="text-muted">{{r.history_date}}</small>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}
    {% if not model %}
        <thead>
            <tr>
                <th><h1>No hay planteles por mostrar, necesitas registrarlos</h1></th>
            </tr>
        </thead>
    {% else %}
    <form method="POST" action="{% url 'planteles:planteles' %}">
        {% csrf_token %}
        <div style="display:flex; margin-bottom:20px;">
            <div style="margin-right:10px;">
                <input type="search" id="textSearch" placeholder="Buscar plantel" name="searched" />
            </div>
            <div>
                <button type="submit" id="btnBuscar" ><span class="material-icons-sharp">search</span></button>
            </div>
        </div>
    </form>
    {% if searched %}
        <thead>
            <tr>
                <th>Numero</th>
                <th>Clave</th>
                <th>Plantel</th>
                {% if request.user.is_staff %}
                    <th colspan="2">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for plantel in plant %}
                <tr>
                    <td class="">{{forloop.counter}}</td>
                    <td class="">{{plantel.clave}}</td>
                    <td class="">{{plantel.plantel}}</td>
                    {% if request.user.is_staff %}
                        <td class=""><a class="btn-update" href="{% url 'planteles:planupdate' plantel.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                        <td class=""><a class="btn-delete" href="{% url 'planteles:plandel' plantel.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th>Numero</th>
                <th>Clave</th>
                <th>Plantel</th>
                {% if request.user.is_staff %}
                    <th colspan="2">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for plantel in model|dictsort:"id" %}
                <tr>
                    <td class="">{{forloop.counter}}</td>
                    <td class="">{{plantel.clave}}</td>
                    <td class="">{{plantel.plantel}}</td>
                    {% if request.user.is_staff %}
                        <td class=""><a class="btn-update" href="{% url 'planteles:planupdate' plantel.id %}"><span class="material-icons-sharp btn-update">edit</span></a></td>
                        <td class=""><a class="btn-delete" href="{% url 'planteles:plandel' plantel.id %}"><span class="material-icons-sharp btn-delete">delete</span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    {% endif %}
{% endblock table %}
