{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Planteles{% endblock title %} 
{% block subtitle %}Planteles{% endblock subtitle %}
{% block activi %}en planteles{% endblock activi %}
{% block tabletitle %}Actualizar plantel{% endblock tabletitle %}
{% block agregarItem %}Actualizar plantel{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}

{% block history %}
{% if history_list.count == 0 %}
<div class="update">
  <div class="profile-photo">
      
  </div>
  <div class="message">
      <p><h2>Aun no hay cambios</h2> <p>
          <small class="text-muted"></small>
  </div>
</div>
{% else %}
{% for r in history_list %}
<div class="update">
  <div class="profile-photo">
      <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'usuarios/img/imgUser.png' %}" {% endif %} alt="">
  </div>
  <div class="message">
      <p><b>{{r.history_user}}</b> {% if r.history_type == '+' %} a&ntilde;adio {% elif r.history_type == '-' %} elimino {% elif r.history_type == '~' %} edito {% endif %} la {{r.materia}} con {{r.docente}}<p>
          <small class="text-muted">{{r.history_date}}</small>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock history %}

{% block table %}
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{form.as_table}}
    </tr>
    <tr>
        <td colspan="2"><input type="submit" class="btn-editar"  value="Actualizar plantel" /></td>
    </tr>
  </tbody>
{% endblock table %}