{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Semestres{% endblock title %} 
{% block subtitle %}Semestres{% endblock subtitle %}
{% block activi %}en semestre{% endblock activi %}
{% block tabletitle %}Eliminar semestre{% endblock tabletitle %}
{% block agregarItem %}Eliminar semestre{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}



{% block table %}

<thead>
  <tr>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>
    <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Semestre</b></label></td>
        <td class="" style="border-bottom: 0px solid black;"><labe >{{semestre.semestre}}</label></td>
        </td>
      </tr>
      <tr>
        <td class="" style="border-bottom: 0px solid black;"><labe ><b>Licenciatura</b></label></td>
          <td class="" style="border-bottom: 0px solid black;"><labe >{{semestre.licenciatura}}</label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" class="btn-eliminar"  value="Eliminar semestre" /></td>
      </tr>
</tbody>
{% endblock %}