{% extends 'core/homeuser.html' %}<!--este script te manda todas las paginas que se han creado con un breve resumen-->
{% load static %}
{% block title %}Horario{% endblock title %} 
{% block subtitle %}Horario{% endblock subtitle %}
{% block tabletitle %}Agregar horario {% endblock tabletitle %}
{% block agregarItem %}Agregar horario{% endblock agregarItem %}
{% block content %}
{% include "institucion/includes/institucion_menu.html" %}

{% endblock content %}



{% block table %}
<thead>
<tr>
    <th width="30%"></th>
    <th></th>
</tr>
</thead>
<tbody>
<tr>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <td>{{ section|crispy }}</td>
</tr>
<tr>
    <td colspan="2"><input type="submit" class="btn-enviar"  value="Registrar semestre" /></td>
</tr>
</tbody>

{% endblock table %}
