@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

a h3{
    color: #374DBF;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}
a span{
    color: #bfb137;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}

ul{
    list-style: none;
}

header{
    display:flex;
    background-color: #EDEBEA ;
    justify-content: space-around;
    padding: 1rem 0;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    width: 50px;
    
    margin-right: 10px;
}

.header_logo{
    color: Red;
    font-weight: 600;
}

.nav_list{
    display:flex;
    align-items:center;
}

.nav_item{
    margin: 0 8px;
}

.nav_link{
    padding: 10px;
    color: black;
    font-size:0.9rem;
    font-weight: 500;
    border-radius: 5px;
}

.nav_link:hover{
    background-color: #CCCDC4;
}

.header_toggle,
.header_close{
    display: none;
}

@media screen and (max-width: 768px){
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a{
        font-size: 0.9rem;
    }
    .logo img{
        width: 30px;
    }
    .header_toggle{
        display: inline;
        color: blue;
        font-size: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .header_close:hover{
        background-color: blue;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: blue;
        color: black;
        width: 60%;
        height:100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
    }
    .nav_item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }
}