*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
  }
/*START Nav bar*/
#unedlimg{
    max-width: 25%;
	height: auto;
}
/*
 * Logo
 */
 #main-center{
    display: block;
    margin: auto;
 }

/*
 * Navegaci�n
 */
nav {
	float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 180px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    color: black;
}

nav ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 420;
}
#separate{
    margin-left: 80px;
}
#aLogin{
    color: rgb(71, 79, 199);
}
#aSignup{
    color: rgb(43, 42, 42);
}
#aSignup:hover{
    color: #95932f;
}
/*END Nav bar*/
.page-container{
    padding: 20px 300px;
    width: 100%;
    height: 100%;
    
}
.div-container{
    padding: 10px 40px;
    width: 100%;
    height: 300px;
    display: table;
}
.div-two{
    height: 100%;
    padding: 20px;
    display:table-cell;
}
.img-cont{
    height: 150px;
    background: #D0D0D0;
    border-radius: 12px;
    opacity: 0.4;    
}
.divPadre{
    text-align: center;
    background-color: rgb(169, 169, 171);
    width: 100%;
    height: auto;
}
.divUTemplate{
    text-align: center;
    background-color: rgb(58, 55, 55);
    width: 100%;
    height: 100%;
}
.divHijo{
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}
.divCont{
    width: 50%;
    margin-right: 3%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.divImg{
    width: 50%;
    margin-left: 3%;
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(41, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
#centDiv{
    width: 75%;
}
#centImg{
    width: 95%;
}
p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 380;
    font-size: 20px;
}
#imgHor{
    width: 100%;
}
footer{
    height:10%;
    line-height:50px;
    background: rgb(37, 37, 37);
    color: #fff;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
#footer-bottom{
    padding: 20px 0;
}
#div-footer{
    width: 100%;
    height: 55px;
    background-color: #95932f;
}
.divuwu{
    width: 300px;
    height: 300px;
    background-color: #95932f;
}




/*css Prueba en base.html*/

.navigation {
  height: 70px;
  background: #545353;
  
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}